body{
    background-color: #6a96f4;
    text-align: center;
    padding-top: 130px;
}
.container{
    font-size: 30px;
    h1{text-decoration: underline;}
}
    

button{
     padding: 12px 25px;        
     border: none;
     color: rgb(37, 35, 35);
     font-size: 16px;
     border-radius: 6px;
     cursor: pointer;
     box-shadow: 3px 5px 10px ;
}
button:hover {
    background-color: rgb(3, 220, 54);
}
